*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightgray;
    font-family: sans-serif;
    outline: none;
}
.calci
{
    background-color: #0a0a0a;
    padding: 25px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,5px 5px 12px rgb(0,0,0,.16);
    display: grid;
    grid-template-columns: repeat(4,68px);
}
.conti
{
    justify-content: center;
    height: 100vh;
    display: flex;
    align-items: center;
}
input{
    grid-column: span 4;
    height: 70px;
    width: 258px;
    background-color:lightpink;
    box-shadow: inset -5px -5px 12px #c0bcbc, inset 5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 30px;
    color: rgb(10, 159, 245);
    font-size: 35px;
    text-align: right;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

button{
    height: 45px;
    width: 45px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff, inset 5px 5px 12px rgba(0,0,0,.16);
    border:none;
    border-radius: 50px;
    margin: 7px;
    font-size: 16px;
}

.equalto{
    width: 115px;
    border-radius: 40px;
    background-color: orange;
    box-shadow: inset -5px -5px 12px #ffffff, inset 5px 5px 12px rgba(0,0,0,.16);
}